<div class="row" style="margin-top: 20px;" ng-show="playMode == 'playerJoining'">
    <div class="span12">
        <p>You want to join the game {{gameId}}, cool!
            <br />Please select your Player:</p>
        <form>
            <fieldset>
                <div class="control-group" ng-hide="playerOneJoined">
                    <div class="controls">
                        <button class="btn" ng-click="join(1)">Join as Player One</button>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls" ng-hide="playerTwoJoined">
                        <button class="btn" ng-click="join(2)">Join as Player Two</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<div class="row" style="margin-top: 20px;" ng-show="playMode == 'playerJoined'">
    <div class="span6">
        <legend>{{player}}</legend>
        <form class="form-horizontal">
            <div class="control-group">
                <label>Position: {{playerPosition}}</label>
            </div>
            <div class="control-group">
                <label class="control-label" for="playerOneSpeed">speed in m/s</label>
                <div class="controls">
                    <input id="playerOneSpeed" type="text" placeholder="speed in m/s" ng-model="playerSpeed">
                    <input id="playerOneSpeedRangeInput" type="range" min="0" max="150" ng-model="playerSpeed" >
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="playerOneAngle">angle in °</label>
                <div class="controls">
                    <input id="playerOneAngle" type="text" placeholder="angle in °" ng-model="playerAngle">
                    <input id="playerOneAngleRangeInput" type="range" min="0" max="90" ng-model="playerAngle" >
                </div>
            </div>
            <div class="control-group">
                <button class="btn" ng-click="fire(playerPosition, playerSpeed, playerAngle)">Fire</button>
            </div>
        </form>
    </div>
</div>


<div class="row" style="margin-top: 20px;" ng-show="playMode == 'gameRunning'">
    <h2>{{winner}}</h2>
    <div style="position: relative;height: 400px;border: 1px solid #5D5361;">
        <canvas id="layer1" firing height="400" style="position: absolute; left: 0; top: 0; z-index: 0;"></canvas>
        <canvas id="layer2" startpositions height="400" style="position: absolute; left: 0; top: 0; z-index: 1;"></canvas>
    </div>
</div>
