<div class="row" style="margin-top: 20px;" ng-hide="playMode == 'gameRunning'">
    <div class="span12">
        <legend>New Game created - Join Now!</legend>
        Scan QR Code or open
        <a href="{{gameUrl}}">this link</a>

    </div>
</div>
<div class="row" style="margin-top: 20px;" ng-hide="playMode == 'gameRunning'">
    <div class="span12">
        <qrcode text="{{gameUrl}}" size="200"></qrcode>
    </div>
</div>

<div class="row" style="margin-top: 20px;" ng-show="playMode == 'gameRunning'">
    <div style="position: relative;height: 400px;border: 1px solid #5D5361;">
        <canvas id="layer1" firing height="400" style="position: absolute; left: 0; top: 0; z-index: 0;"></canvas>
        <canvas id="layer2" startpositions height="400" style="position: absolute; left: 0; top: 0; z-index: 1;"></canvas>
    </div>

    <h2>{{winner}}</h2>
</div>
